*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
	overflow-x: hidden;
}
/* Style for header*/
header{
	width: 100vw;
	height: 110vh;
	background-image: url('../images/bg2.jpg');
	background-size: cover;	
	background-position: center;
}
nav{
	width: 100vw;
	height: 75px;
	border-bottom: 1px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(1, 1, 1, .5);  
}
nav > ul{
	display: flex;
	list-style-type: none;
}
nav > ul > li{
	margin: 0 20px;
}

nav > ul > li > a{
	text-decoration: none;
	color: #f2f2f2;
}
.btn{
	padding: 10px 20px;
	border: 1px solid whitesmoke;
	color: black;
}
.btn-product{
	background-color: white;
	font-size:  15px;
}
#btn-product{
	position: absolute;
	right: 100px;
	top: 20px;
}
#btn-product:hover{
	transition: .6s;
	top: 15px;
}
/*End Style for header*/

/*Disappearing menu*/
.submenu{
	background-color: whitesmoke; 
	width: 80%;
	border-radius: 15px;
	height: 200px;
	display: flex;
	position: absolute;
	left: 10%;
	top: 50px;
	visibility: hidden;
}
.submenu > div{
	width: 25%;
}
.submenu > div + div{
	border-left: 1px solid black;
}
.submenu > div >h4, .submenu > div > p{
	margin: 10px 0;
	padding: 0 10px;
}
.submenu > div > p:hover{
	background-color: darkgray;
}
 #mega-menu:hover > .submenu, #mega-menu > .submenu:hover{
	visibility: visible;
}
.header-text{
	width:50%;
	display: flex; 
	flex-direction: column;
	justify-content: center;
	height: 90vh;
}
.header-text > h1{
	font-size: 70px;
}
.header-text > h1, .header-text > p, .header-text > div >button{
	margin-left: 50px;
}
.header-text > div > .btn{
	margin-top: 20px;
	background-color: black;
	color: white;
}
.quote{
	height: 50vh;
	border-bottom: 1px solid white;
	display: flex;
	justify-content: center;
	align-items: center;
}
.quote > div{
	width: 50%;
}
.quote > div > div{
	text-align: center;
	margin-top: 20px;
}

/*Section 3/About CSS*/
.about{
	height: 80vh;
	width: 100vw;
	display: flex;
	padding: 50px 50px;
}
.about > .left-div{
	width: 50%;
	height: 60vh;	
	margin: auto;
}
.about > .right-div{
	width: 50%;
	height: 60vh;
}
.about > .left-div{
	display: flex;
	justify-content: center;
	align-items: center;
}
.about > .left-div > div> img{
	border-radius: 5px;
	height: 100%;
	width: 100%;
}

.top-div{
	width: 100%;
	height: 25vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.top-div > div{
	width: 400px;
}
.bottom-div{
	width: 100%;
	height: 35vh;
	display: flex
}
.bottom-div > .left-div{
	width: 45%;
	height: 35vh;
}
.bottom-div > .right-div{
	width: 45%;
	height: 35vh;
	padding-left: 15px;
}
.right-div > div > h1, .left-div > div > h1{
	font-size: 60px;
	font-weight: bolder;
}

.left-div > div > h1 > span, .right-div > div > h1 > span{
	font-size: 30px;
	font-weight: normal;
	position: relative;
	bottom: 25px;
}
/*End of Section 3/About CSS*/

/*Section 4/Image hover CSS*/

.section4{
	height: 80vh;
	padding: 50px 50px;
	text-align: center;
}
.section4 > div{
	display: flex;
	margin: 25px;
}
.section4 > div > div{
	height: 300px;
	width: 25%;
	margin: auto;
	border-radius: 5px;
	border: 1px solid gray;
    position: relative;
}
.col img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
	margin-top: -30px;
}
.col > .info{
	height: 70%;
	padding: 25px;
	z-index: -1;
	position: relative;
}
.col > .img{
	height: 30%;
	align-items: center;
	border-top: 1px solid gray;
	z-index: 1000;
	position: relative;
}
#col1:hover{
	transition: .3s;
	bottom: 15px;
	box-shadow: -12px 14px 46px 0px #888888;
}
#col2:hover{
	transition: .3s;
	bottom: 15px;
	box-shadow: -12px 14px 46px 0px #888888;
}
#col3:hover{
	transition: .3s;
	bottom: 15px;
	box-shadow: -12px 14px 46px 0px #888888;
}
/*End of Section 4/Image hover CSS*/

